.user-post-square.more {
    flex-basis: 33.33333%;
}

.user-post-square {
    position: relative;
    flex-basis: 20%;
}

.user-post-square::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.user-post {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@media screen and (max-width: 992px) {
    .user-post-square {
        flex-basis: 25%;
    }
}

@media screen and (max-width: 640px) {
    .user-post-square {
        flex-basis: 33.33333%;
    }
}