<script defer src="components/my-navbar.js"></script>
<script defer src="components/my-login.js"></script>

<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <my-navbar></my-navbar>
    <div class='flex justify-center mt-32'>
        <my-login></my-login>
    </div>
  </body>
</html>
