<div class="flex flex-wrap mx-0">
    <% for(var i = 0; i < posts.length; i++) { %>
        <div class="user-post-square more">
            <div class="user-post">
                <a href="<%= /post/.concat(filteredPosts[i].id) %>" key={post.id} className="w-full h-full"> 
                    <my-img endpoint="<%= images[i].data %>" className="min-w-full min-h-full object-cover"></my-img> 
                </a>
            </div>
        </div>
    <% } %>
</div>